Package: tinyirc
Version: 1:1.1.1.dfsg.1-1.1
Architecture: i386
Maintainer: Louis Taylor <kragniz@gmail.com>
Installed-Size: 88
Depends: libc6 (>= 2.3), libncurses5 (>= 5.5-5~), libtinfo5
Section: net
Priority: optional
Description: a tiny IRC client
 A very small, stripped down IRC client. It doesn't have most of the
 more advanced commands in the ircII family of IRC Clients, nor does
 it have any color, but it works, and it's tiny.
